.venv/
 env/
venv/
gdgvenv
hydrotrack_env_backup/
hydrotrack_env/
__pycache__/
*.pyc
*.pyo
*.pyd
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# SQLite database file
HydroTrack.db
#csv files 
*.csv
#keys
gee-key.json